.user-card {
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  padding: 12px 16px;
  gap: 24px;
}

.user-card figure {
  height: 100%;
}

.user-card img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 4px;
}

.user-info {
  flex: 1;
}

.user-info p {
  margin-bottom: 8px;
}

.user-info p span:first-child {
}

.user-info p span:last-child {
  margin-right: 5px;
}

.user-info p:last-child span:last-child {
  color: #283593;
  text-decoration: none;
}

.user-info p:last-child span:last-child:hover {
  text-decoration: underline;
}
