section .hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .hero article {
  margin: 64px 0 64px 0;
}

section .hero article h1 {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 2.75rem;
  text-align: center;
}

section .hero article h1 span {
  font-weight: 300;
  font-size: 2.5rem;
}

section .hero article p {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-image: linear-gradient(to right, #ff0000, #0000ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

section .features .card-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 32px;
}

section .features figure {
  flex-basis: 40%;
  height: auto;
}

section .features figure picture {
  width: 100%;
  height: auto;
}

section .features figure picture img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

section .features figure picture img:hover {
  transform: scale(1.05);
}

section .features .card-container .card-item {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

section .features .card-container .card-item article {
  flex-basis: 60%;
}

section .features .card-container .card-item article h2 {
  font-family: "Inter", sans-serif, serif;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

section .features .card-container .card-item article p {
  font-family: "Raleway", sans-serif, serif;
  font-size: 1rem;
  margin: 24px 0;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-align: center;
}

section .membership-plans {
  display: grid;
  column-gap: 32px;
  row-gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

section .memberships-header {
  font-family: "Inter", sans-serif;
  font-size: 2.1rem;
  text-align: center;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 64px 0 64px 0;
}

@media only screen and (max-width: 768px) {
  section .features .card-container {
    row-gap: 64px;
  }

  section .features .card-container .card-item {
    flex-direction: column;
    height: auto;
    row-gap: 24px;
  }

  section .features .card-container .card-item:nth-child(2) {
    order: 2;
    flex-direction: column-reverse;
  }

  section .features .card-container .card-item article h2 {
    font-size: 1.5rem;
    margin: 16px 0;
  }

  section .features .card-container .card-item article p {
    font-size: 0.92rem;
  }

  section .memberships-header {
    font-size: 1.8rem;
    margin: 32px 0;
  }

  section .membership-plans {
    padding: 24px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 48px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  section .features .card-container {
    row-gap: 108px;
  }

  section .features .card-container .card-item {
    flex-direction: row;
    height: auto;
    column-gap: 24px;
    padding: 24px;
  }

  section .features .card-container .card-item article h2 {
    font-size: 1.8rem;
    margin: 0;
  }

  section .features .card-container .card-item article p {
    font-size: 0.9rem;
    padding: 8px;
  }

  section .memberships-header {
    font-size: 2rem;
    margin: 48px 0;
  }

  section .membership-plans {
    gap: 48px;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  }
}

