section .manage-events-header {
  flex-basis: 100%;
  padding: 12px 0;
  border-radius: 4px;
  font-size: 1.25rem;
  font-weight: 300;
}

section .manage-events {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  column-gap: 32px;
}

section .manage-events .manage-events-navigation {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

section .manage-events .manage-events-navigation li {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  text-align: center;
  border-radius: 4px;
  transition: box-shadow 0.1s ease-in-out;
}

section .manage-events .manage-events-navigation li:hover {
  box-shadow: 0px 0px 10px 0px rgba(183, 28, 28, 0.3);
}

section .manage-events .manage-events-dashboard {
  flex: 1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 12px;
}

section .manage-events .manage-events-dashboard form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

section .manage-events .manage-events-dashboard form label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

section
  .manage-events
  .manage-events-dashboard
  form
  label
  .quill
  .ql-snow
  .ql-editor {
  min-height: 256px;
  max-height: 1024px;
}

section .manage-events .manage-events-dashboard form label input[type="date"] {
  width: 25%;
  cursor: pointer;
  margin: 8px 0 8px 0;
  padding: 12px 16px;
  box-shadow: var(--box-shadow);
  transition: box-shadow 0.1s ease-in-out;
}

section
  .manage-events
  .manage-events-dashboard
  form
  label
  input[type="number"] {
  width: 100%;
  box-shadow: var(--box-shadow);
  padding: 12px 16px;
  border-radius: 4px;
  transition: box-shadow 0.1 ease-in-out;
}

section
  .manage-events
  .manage-events-dashboard
  form
  label
  input[type="number"]:focus {
  width: 100%;
  box-shadow: var(--box-shadow-hover);
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
}

section .manage-events .manage-events-dashboard form label select {
  width: 100%;
  box-shadow: var(--box-shadow);
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
}

section .manage-events .manage-events-dashboard form label input[type="file"] {
  width: 25%;
  padding: 12px 0;
  border-radius: 5px;
  display: none;
  background-color: var(--white);
  transition: background-color 0.3s ease;
}

.preview-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}


section .manage-events .manage-events-dashboard form input[type="date"]:focus {
  box-shadow: var(--box-shadow-hover);
}

section .manage-events .manage-events-dashboard form .btn-submit {
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 4px;
    color: var(--white);
    padding: 12px 16px;
    transition: background-color 0.3s ease-in-out; 
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 300;
}

section .manage-events .manage-events-dashboard form .btn-submit {
  background-color: var(--primary-darker-color);
}

.update-online-event,
.delete-events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 32px;
  padding: 12 16px;
}

.event-form-header,
.no-events-header,
.event-message {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 12px 0;
}

.event-form-header {
  font-size: 1.5rem;
  margin: 24px 0 24px 0;
}

.event-file-label {
  width: fit-content;
  background-color: var(--primary-color);
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  padding: 12px 16px;
  transition: background-color 0.1s ease-in-out;
}

.event-file-label:hover {
  background-color: var(--primary-darker-color);
}

@media only screen and (max-width: 768px) {
  .update-online-event,
  .delete-events {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 12px;
  }
}


@media only screen and (max-width: 768px) {

  .manage-events {
    flex-direction: column;
  }
  .update-online-event,
  .delete-events {
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 0 8px;
  }

  section .manage-events .manage-events-dashboard form label input[type="date"] {
    width: 100%;
  }

  section .manage-events .manage-events-dashboard {
    margin: 24px 0 24px 0;
    min-height: 256px;
  }

  .event-form-header,
  .no-events-header,
  .event-message {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
  .update-online-event,
  .delete-events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 32px;
    margin-bottom: 24px;
    padding: 0 24px;
  }
}