section .user-settings-header {
  font-family: "Inter",sans-serif;
  flex-basis: 100%;
  margin: 12px 0 12px 0;
  font-size: 1.25rem;
  font-weight: 200;
}

section .user-settings {
  font-family: "Raleway", sans-serif;
  display: flex;
  column-gap: 48px;
  border-radius: 4px;
}

section .user-settings .user-navigation {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  row-gap: 32px;
}

section .user-settings .user-navigation {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-height: 500px;

}

section .user-settings .user-navigation li {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  padding: 12px 16px;
  text-align: center;
  border-radius: 4px;
  transition: box-shadow 0.1s ease-in-out;
}

section .user-settings .user-navigation li:hover {
  box-shadow: var(--box-shadow-hover);
}

section .user-settings-dashboard {
  display: flex;
  flex: 1;
  box-shadow: var(--box-shadow);
  justify-content: center;
  border-radius: 4px;
  padding: 32px;
}

section .user-settings-dashboard h2:first-child {
  font-family: "Inter",sans-serif;
  font-size: 1.5rem;
  margin-top: 12px;
  font-weight: 200;
  color: var(--primary-darker-color);
}

section .user-settings-dashboard form {
  flex-basis: 75%;
  display: flex;
  row-gap: 24px;
  align-items: center;
  flex-direction: column;
  padding: 12px 16px;
}

section .user-settings-dashboard form label {
  font-family: "Raleway", sans-serif;
  width: 100%;
  display: block;
  color: var(--gray-color);
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

section form input[type="text"],
section form input[type="email"],
section form input[type="password"],
section form input[type="tel"] {
  font-family: "Manrope",sans-serif;
  width: 100%;
  border-radius: 4px;
  padding: 12px 16px;
  box-shadow: var(--box-shadow);
  color: var(--gray-color);
  transition: box-shadow 0.3s ease;
}

section form input[type="text"]:focus,
section form input[type="email"]:focus,
section form input[type="password"]:focus,
section form input[type="tel"] {
  box-shadow: var(--box-shadow-hover);
}

section .user-settings-dashboard form h2:first-child {
  text-align: center;
}

section
.user-settings
.user-settings-dashboard
  form
  label
  .quill
  .ql-snow
  .ql-editor {
  min-height: 256px;
  max-height: 1024px;
}

section .user-settings-dashboard form button {
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 4px;
  color: var(--white);
  padding: 12px 16px;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 32px;
  font-weight: 300;
}

section .user-settings-dashboard form button:hover {
  background-color: var(--primary-darker-color);
}

.editor {
  min-height: 256px;
  max-height: 1024px;
  margin: 36px 0 36px 0;
}

.delete-information ul {
  display: inline;
  width: max-content;
  justify-content: center;
}

.delete-information {
  display: flex;
  align-items: center;
}

.delete-information h3:first-child{
  font-family: "Manrope",sans-serif;
  text-align: center;
  margin: 12px 0 12px 0;
  font-size: 0.92rem;
}

.delete-warning {
  font-family: "Manrope",sans-serif;
  font-size: 0.825rem;
  color: var(--primary-darker-color);
  font-weight: 300;
  text-align: center;
}

.profile-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.profile-avatar-container figure {
  border-radius: 8px;
  width: 256px;
  height: auto;
  max-height: 512px;
  box-shadow: var(--box-shadow);
  transition: box-shadow 0.1s ease-in-out;
}

.profile-avatar-container img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  transition: box-shadow 0.1s ease-in-out;
}

.profile-avatar img:hover {
  cursor: pointer;
}

.section-profile-avatar-update {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: 0.99rem;
  background-color: var(--primary-darker-color);
  padding: 12px 0;
  border-radius: 5px;
}

.section-profile-avatar-update input[type="file"] {
  display: none;
}

.requested-events {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  
}
/* For screens smaller than 768px */
@media (max-width: 768px) {
  section .user-settings {
    flex-direction: column;
    column-gap: 0;
    row-gap: 64px;
  }
  section .user-settings .user-navigation {
    row-gap: 16x; 
  }

  section .user-settings-dashboard {
    padding: 12px;
  }

  section .profile-avatar img {
    width: 200px;
    height: 200px;
  }

  section .user-settings-dashboard form {
    flex-basis: 100%;
  }

  section .profile-avatar-update input[type="file"]{
    width: 75%;
  }
}
